<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrador</title>
    <link rel="stylesheet" th:href="@{/css/modal.css}">
    <link rel="stylesheet" th:href="@{/css/admin.css}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
</head>

<body>

    <!--Sidebar-->
    <nav class="main-menu">
        <ul>
            <li>
                <span class="nav-text">
                    <small class="encabezado">Dashboard</small>
                </span>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-tachometer fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>

            <li>
                <span class="nav-text">
                    <small class="encabezado">Empleados</small>
                </span>

            </li>

            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-laptop fa-2x"></i>
                    <span class="nav-text">
                        Stars Components
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-list fa-2x"></i>
                    <span class="nav-text">
                        Forms
                    </span>
                </a>

            </li>
            <li class="has-subnav">
                <a href="#">
                    <i class="fa fa-folder-open fa-2x"></i>
                    <span class="nav-text">
                        Pages
                    </span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-2x"></i>
                    <span class="nav-text">
                        Graphs and Statistics
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-font fa-2x"></i>
                    <span class="nav-text">
                        Quotes
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-table fa-2x"></i>
                    <span class="nav-text">
                        Tables
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <span class="nav-text">
                        Maps
                    </span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        Documentation
                    </span>
                </a>
            </li>
        </ul>

        <ul class="logout">
            <li>
                <a href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
    <!--Fin de Sidebar-->

    <!--Dashboard-->
    <div class="menu">

        <h1>Dashboard</h1>
        <h4>Vista General</h4>

        <div class="row">
            <div class="column">
                <div class="card card-1">
                    <h1 th:text="${#numbers.formatInteger(tarjetas.get(0),3,'COMMA')}"></h1>
                    <p>Cortes de abril</p>
                </div>
            </div>

            <div class="column">
                <div class="card card-2">
                    <h1 th:text="${#numbers.formatInteger(tarjetas.get(1),3,'COMMA')}"></h1>
                    <p>Cortes de Mayo</p>
                </div>
            </div>

            <div class="column">
                <div class="card card-3">
                    <h1 th:text="${#numbers.formatInteger(tarjetas.get(2),3,'COMMA')}"></h1>
                    <p>Cortes del año</p>
                </div>
            </div>

        </div>

        <br>
        <br>
        <h1>Empleados</h1>
        <div>
            <div class="input-icons">
                <i class="fa fa-search" aria-hidden="true"></i>
                <input type="text" id="buscarTabla" onkeyup="buscarTabla()" placeholder="Buscar empleado..">
            </div>


            <table id="miTabla">
                <thead class="header">
                    <tr>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Cortes Totales Realizados</th>
                        <th>Sueldo Total Pagado</th>
                        <th>Mas Detalles</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
        </div>
        <br>
        <br>

        <div>
            <h1>Cortes Quincenales</h1>
            <canvas id="myChart"></canvas>
        </div>
    </div>
    <!--Fin del Dashboard-->

    <!--Ventana Modal-->
    <div id="detalles" class="modal">
        <div class="modal__content">
            <h1 id="nombre_empleado" style="text-align: center;"></h1>

            <table id="tablaModal">
                <thead class="header">
                    <tr>
                        <th>Cortes</th>
                        <th>Fecha del Corte</th>
                        <th>Sueldo</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
    
            <a href="#" class="modal__close" onclick="borrarTablaModal()">&times;</a>
        </div>
    </div>
    <!--Fin Ventana Modal-->

    <script th:inline="javascript">
        var empleado = [[${ empleados }]];
    </script>

    <script th:src="@{/js/admin.js}"></script>

</body>

</html>