<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
</head>
<body>
    
    <table id="miTabla"> <!--id="miTabla"-->
        <thead class="header">
            <tr>
                <th>Nombre</th>
                <th>Ultimo Corte Registrado</th>
                <th>Fecha Ultimo Corte Registrado</th>
                <th>Ultimo Sueldo Registrado</th>
                <th>Mas Detalles</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${detalleEmpleado.body}">
                <th th:text="${empleado.nombre}"></th>
            </tr>
        </tbody>

    </table>


    <script th:inline="javascript">
        var empleado = [[${ detalleEmpleado }]];
    </script>

    <script th:src="@{/js/detalles.js}"></script>

</body>
</html>